@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.container {
    height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/crew/background-crew-desktop.jpg");
    background-position: center;
    background-size: cover;
}

.memberNavigation {
    text-decoration: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    font-size:100px;
    height: 10px;
}

.memberNavigationContainer {
    margin-right: auto;
    margin-left: 20%;

}

#memberNavigationItem {
    text-decoration: none;
    color: rgb(71, 71, 71);
    cursor: pointer;
    background-color: transparent;
    border:none;
}

#memberNavigationItem:hover,
#memberNavigationItem:focus {
    color: #FFFFFF;
    cursor: pointer;

}

.memberName {
    color: #FFF;
    font-size: 56px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.memberRole {
    color: #FFF;
    font-size: 32px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5;
}

.memberBio {
    display: flex;
    width: 444px;
    flex-direction: column;
    flex-shrink: 0;
    color: #D0D6F9;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.memberImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;


}

.memberImage {
    height: auto;

}

.title {
    color: #FFF;
    font-size: 28px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.titleSpan {
    color: #FFF;
    font-size: 28px;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
    margin-right: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh
}

@media (max-width: 600px) {
    .main {
        height: auto;
    }

    .container {
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("/assets/crew/background-crew-mobile.jpg");
        background-position: center;
        background-size: cover;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .memberImageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;

    }

    .memberImage {
        height: 222px;
        width: 177px
    }

    .memberRole {
        opacity: 0.5;
        text-align: center;
        font-size: 16px;
    }

    .memberName {
        text-align: center;
        font-size: 24px;

    }

    .memberBio {
        text-align: center;
        font-size: 15px;
        font-style: normal;
        line-height: 25px;
        width: 327px;
    }

    .memberNavigationContainer {
        margin: 0%;

    }
}