@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-position: center;
    background-size: cover;
}



.title {
    color: #FFF;
    font-size: 28px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: 10%;

}

.title1 {
    color: #FFF;
    font-size: 28px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
    padding-right:5%;
}

.planetDetails{
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    padding: 10px;

}
.planetNavigation {
    color: #D0D6F9;
    font-size: 16px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    height: 34px;
    flex-shrink: 0;
}

#planetNavigationItem {
    margin-right: 5%;
    text-decoration: none;
    color: #D0D6F9;
}



#planetNavigationItem:hover,
#planetNavigationItem:active {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    color: white;
    cursor: pointer;


}
.planet{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    margin-left: 10%;
}
.planetIndex {
    list-style: none;
    display: inline-flex;
    color: white;
    padding-right: 10%;
}

.planetDistance {
    display: flex;
}

.planetInfo {
    width: 445px;
    height: 472px;
    flex-shrink: 0;
}

.planetName {
    color: #FFF;
    font-size: 100px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.planetDescription {
    color: #D0D6F9;
    font-size: 18px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    width: 444px;
    flex-direction: column;
    flex-shrink: 0;
}

.planetDistanceInfo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    margin-right: auto;
}

.planetTravelTime {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px
}

.distance {
    color: #D0D6F9;
    font-size: 14px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.travel {
    color: #D0D6F9;
    font-size: 14px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.distanceNumber,
.travelNumber {
    color: #FFF;
    font-size: 28px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 600px) {


    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("/assets/destination/background-destination-mobile.jpg");
        background-position: center;
        background-size: cover;
    }

    .planetImage{
        width:150px;
        height:150px;
    }
    
.main{
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);
    padding: 10px;
}

.planetName {
    font-size: 56px;

}

.planetDetails{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;

}
.planetInfo {
 align-items: center;
 text-align: center;
 width:auto;
}
.title {
    font-size: 16px;
    font-weight: 400;
    margin:50px 0px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.title1 {
    font-size: 16px;
    letter-spacing: 2.7px;
}

.planetDescription {
    width:100%;
}
.planetNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

#planetNavigationItem {
    margin-right: 5%;
    text-decoration: none;
    color: #D0D6F9;
}
.planetDistance {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planetDistanceInfo {
    display: flex;
    align-items: center;
    margin: 0%;

}
.planet{
    position: relative;
        top: 30%;
        transform: translate(0, -50%);
        padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}